@tailwind base;
@tailwind components;
@tailwind utilities;
.invisible {
  transform: translateY(50px);
  opacity: 0;
}
.visible {
  transform: translateY(0);
  transition: 1.5s ease;
  opacity: 1;
}
.formInvisible {
  opacity: 0
}
.formVisible {
  transition: 1.5s ease;
  opacity: 1
}
